
<!DOCTYPE html>
<html>

<!--Header bereich wo die Metadaten stehen-->
<head>
    <meta charset="UTF-8">
    <title>Webseite Name</title>
    <link rel="stylesheet" href="static/design/home.css">
    <link rel="stylesheet" href="static/design/video_player.css">
    <script src="https://kit.fontawesome.com/263e2b80fc.js" crossorigin="anonymous"></script>

</head>

<!--Das Video auf Vollbildmodus-->
<body>
        <div class="main__video">
            <div class="main__video-container">
                
                <iframe width="560" height="315" src="{{ video_name }}" allowfullscreen></iframe>
            </div>
        </div>

<!--Home Button um die Seite neu zu laden-->
        </section>
    </div>
    <div class="Home">
        <a href="Reload">
            <img  src="static/images/Home.png" class = rundes_bild style="width:50px; height:50px;" />
        </a>
    </div>
    
<!--Button um sich wieder abzumelden-->
    <div class="Login">
        <a href="Abmelden">
            <span class="Loginstyle">Abmelden</span>
        </a>
    </div>



</body>
</html>
